@import "../../variables.scss";
$_BUTTON_COLOR_HIGHLIGHT: rgb(0, 0, 0);

#admin-panel {
  visibility: none;
  position: absolute;
  right: 0;
  bottom: 0;  
  width: 40vw;
  height: 25vh;
  min-width: 300px;
  min-height: 225px;
  z-index: 5;
  background-color: whitesmoke;
  border: 1px solid darkgray;
  padding: 15px;
}

#admin-panel-toggle {
  width: 180px;
  height: 35px;
  z-index: 5;
  font-size: 1.1rem;
  line-height: 12px;
  color: $hackerGreen;
  background-color: $_BUTTON_COLOR_HIGHLIGHT;
  border: 1px solid $hackerGreen;
  border-radius: inherit;
}

#admin-panel button {
  text-align: center;
  margin: 0 10px 10px 0;
}

#admin-panel button {
  text-align: center;
  margin: 0 10px 10px 0;
}

/* Mode Buttons */
#admin-panel button.selected {
  background-color: $_BUTTON_COLOR_HIGHLIGHT;
}

#admin-panel > button#close-button {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 0;
}

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
