@import "../../variables";

.navbar { 
  padding: $navbarPadding;
  // No choice but to use !important here, as the csh css uses it as well
  background-color: $navbarBackgroundColor !important;
  border-bottom: $navbarBorderBottom;
}
.navbar > .container {
  max-width: $navbarContainerMaxWidth;
}

// Classname/ID duplication required for overriding specificity
.navbar-brand#brand {
  background-image: url($navbarBrandImage);
  background-size: 100%;
  background-position: center;
  padding: 14px;
  @include stroke(#000, 2px);
}

.nav-item > a:hover {
  border-bottom: $navItemBorderBottomOnHover;
  font-weight: bold;
  
}

.dropdown.nav-item > a:hover{
  border-bottom: none;
}
