/**
 * Markers
 */
$markerSize: 32px;
$markerColor: #fd3939;
$markerBorder: 3px black solid;

/**
 * Popups
 */
$popupTextColor: white;
$popupBackgroundColor: #fd3939;
$popupMaxWidth: 200px;
$popupFont: "Open Sans", sans-serif;
$popupBorder: 3px black solid;
$popupBorderRadius: 10px;
